.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px; /* Space between grid items */
    padding: 16px; /* Padding around the grid */ 
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.grid-item{
    overflow: hidden;
    border-radius: 8px;
}